<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>-- QAP2 - 404!!! --</title>
  </head>
  <body>
    <h1>QAP2 -- 404!!!</h1>
    <p>
      <strong>404:</strong>
      Whoopsie daisy! Looks like the resource you are looking for does not
      exist.
    </p>
    <p>Click <a href="/">here</a> to return to home.</p>
    <div id="display"></div>
  </body>
</html>
